<%= form_for @task, html: {class: 'form-horiontal'} do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, class: 'col-lg-2' %>
    <%= f.text_field :title, class: 'col-lg-10' %>
  </div>
  <div class="field">
    <%= f.label :description, class: 'col-lg-2' %>
    <%= f.text_field :description, class: 'col-lg-10' %>
  </div>
  <div class="field">
    <%= f.label :completed, class: 'col-lg-2' %>
    <%= f.check_box :completed, class: 'col-lg-10' %>
  </div>
  <div class="col-lg-12">
    <%= f.label :deadline, class: 'col-lg-2' %>
    <%= f.datetime_select :deadline, options = {ampm: true, minute_step: 15, order: [:month, :day, :year]} %>
  </div>
  <div class="col-lg-12">
    <%= f.label :user , class: 'col-lg-2' %>
    <%= f.collection_select(:user_id, User.all, :id, :name, :include_blank => true) %>
    </% end %>
  </div>
  <div class="col-lg-12 center">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
