<h1 class="main">Showing task</h1>
<table class="table table-striped">
  <tbody>
    <tr>
      <td><strong>Title</strong></td>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <td><strong>Description</strong></td>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <td><strong>Completed</strong></td>
      <td><%= @task.completed %></td>
    </tr>
    <tr>
      <td><strong>Deadline</strong></td>
      <td><%= @task.deadline %></td>
    </tr>
    <tr>
      <td><strong>User</strong></td>
      <td><%= @task.user.name %></td
    </tr>
  </tbody>
</table>

<%= link_to 'Edit Task', edit_task_path(@task) %>
<%= link_to 'New Task', new_task_path %>
